<template>
  <!-- <div> -->
    <!-- <v-row
      wrap
      mb-5
    >
      <v-col xs="12">
        <v-tabs
          v-model="activeTab"
          slider-color="primary"
    >-->

    <ion-content class="mainfont">
      <div class="content content-fixed content-auth">
        <div class="container">
          <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
              <div class="mx-wd-600">
                <img src="https://via.placeholder.com/1260x950" class="img-fluid" alt />
              </div>
              <div class="pos-absolute b-0 l-0 tx-12 tx-center">
                Workspace design vector is created by
                <a
                  href="https://www.freepik.com/pikisuperstar"
                  target="_blank"
                >pikisuperstar (freepik.com)</a>
              </div>
            </div>
            <!-- media-body -->

            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-10">
              <div class="wd-100p" align="left">
                <h1 class="df-logo">
                  Wingspan
                  <span>
                    <b>POS</b>
                  </span>
                </h1>
                <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>

                <login-form
                  :redirect="redirect"
                  :localeSelectable="localeSelectable"
                  :showLogo="showLogo"
                  :logo="logo"
                ></login-form>
                
                <div class="divider-text">or</div>
                <button
                  class="btn btn-outline-facebook btn-block"
                  @click="DevicecodePage()"
                >Sign In With Device Code</button>
                <button class="btn btn-outline-twitter btn-block">Sign In With SMS</button>
                <div class="tx-13 mg-t-20 tx-center">
                  Don't have an account?
                  <a href="page-signup.html">Create an Account</a>
                </div>
              </div>
            </div>
            <!-- sign-wrapper -->
          </div>
        </div>
      </div>
    </ion-content>
  <!-- </div> -->
</template>

<script>
import LoginForm from '@/utils/auth/components/LoginForm.vue'

export default {
  data: () => ({
    activeTab: 'config',
    redirect: '/',
    localeSelectable: true,
    showLogo: false,
    logo: 'vue-crud-lg.png',
  }),
  computed: {
    template() {
      return `
          <template>
            <login-form
              redirect="${this.redirect}" ${
        this.localeSelectable
          ? ''
          : `
              :localeSelectable="false"`
      }
              logo="${this.logo}" ${
        this.showLogo
          ? ''
          : `
              :showLogo="false"`
      }
            ></login-form>
          </template>
        `
    },
    script() {
      return `
          import LoginForm from '@/utils/auth/components/LoginForm.vue'

          export default {
            components: {
              LoginForm
            }
          }
        `
    },
  },
  components: {
    LoginForm,
  },
}
</script>
