<template>
  <!-- <div>
    You are logged in
    <v-btn @click="logoutAttempt()">Logout</v-btn>
    <h1>POS</h1> -->
    

  <ion-content class="mainfont">
    <div>
              <sidebar-menu :menu="menu"  :collapsed="true"/>
    </div>

<!-- <v-btn @click="logoutAttempt()">Logout</v-btn> -->
<div class="posmar">     
    <ion-header >

      <ion-toolbar class="mainfont" style="margin-left:11px; padding-right:17px">
        

                  <h3 style="margin:10px; height:27px;" class="float-left df-logo">Wingspan<span><b>POS</b></span></h3>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <!-- <ion-title align="left"> -->

<!-- </ion-title> -->
    <button type="button" class="btn btn-primary butmargin">
    <i class="far fa-bell"></i>
    </button>
    <button type="button" class="btn btn-primary butmargin">
    <i class="fas fa-wifi"></i>
    </button>
    <button type="button" class="btn btn-primary butmargin ">On Hold</button>
    <button type="button" class="btn btn-primary butmargin"  @click="TablemanagePage()">Table</button>
    <button type="button" class="btn btn-primary butmargin" @click="KitchenPage()">KDS</button>
    <button type="button" class="btn btn-primary butmargin" @click="get_items()">Close</button>
    <button type="button" class="btn btn-primary butmargin" @click="itemsdisplay()">Sync</button>
    <button type="button" class="btn btn-primary" @click="logoutAttempt()">Logout</button>
    
  </div>
          
        

      </ion-toolbar>
    </ion-header>

  <div class="leftcol">
    <ion-grid class="leftcol">

      <ion-row style="margin-bottom:-4px;">
  


        <ion-col size="8">
          <!-- Tab links -->
          <div class="tab" style="margin-left:10px;">
            <button class="tablinks active" onclick="openCity(event, 'London')">New Order</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Ongoing Order</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Today Order</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Online Order</button>
          </div>

          <!-- Tab content -->
            <div id="London" class="tabcontent" style="height:auto !important; display:block;">
            <!-- <div> -->
              <ion-searchbar style="width:auto; margin-left:-12px; margin-right: -19px;"></ion-searchbar>
            <!-- </div> -->
              <div style="margin-top: 0px; margin-left:-1px; margin-right: -12px;">
                <ion-grid class="posgrid"
                  :scrollEvents="true"
                  @ionScrollStart="logScrollStart()"
                  @ionScroll="logScrolling($event)"
                  @ionScrollEnd="logScrollEnd()"
                  
                >
                  <ion-row v-for="posts in processedPosts" style="margin-top:0px;">
                    <ion-col v-for="post in posts" v-on:click="addToCheck(post)">
                      <div class="card mgnright">
                        <div class="card-divider">{{ post.item_name }}</div>
                        <div class="card-section">
                          <img v-bind:src="getImage(post.image)" height="128" style="width:fit-content;" />
                          <p>{{ post.cost }}</p>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>

            </div>


            <div id="Paris"  class="tabcontent" style="height:68vh;">
              <ion-content
                :scrollEvents="true"
                @ionScrollStart="logScrollStart()"
                @ionScroll="logScrolling($event)"
                @ionScrollEnd="logScrollEnd()"
              >
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Job Title</th>
                      <th scope="col">Degree</th>
                      <th scope="col">Salary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Adrian Monino</td>
                      <td>Front-End Engineer</td>
                      <td>Computer Science</td>
                      <td>$120,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                  </tbody>
                </table>
              </ion-content>
            </div>



            <div id="Tokyo" class="tabcontent" style="height:68vh;">
              <ion-content
                :scrollEvents="true"
                @ionScrollStart="logScrollStart()"
                @ionScroll="logScrolling($event)"
                @ionScrollEnd="logScrollEnd()"
              >
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Job Title</th>
                      <th scope="col">Degree</th>
                      <th scope="col">Salary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Adrian Monino</td>
                      <td>Front-End Engineer</td>
                      <td>Computer Science</td>
                      <td>$120,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Reynante Labares</td>
                      <td>Product Manager</td>
                      <td>Business Management</td>
                      <td>$250,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Socrates Itumay</td>
                      <td>Software Engineer</td>
                      <td>Computer Engineering</td>
                      <td>$150,000</td>
                    </tr>
                  </tbody>
                </table>
              </ion-content>
            </div>

            <div id="Tokyo" class="tabcontent" style="height:80vh;">
              <h3>Online Order</h3>
              <p>Tokyo is the capital of Japan.</p>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Degree</th>
                    <th scope="col">Salary</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Adrian Monino</td>
                    <td>Front-End Engineer</td>
                    <td>Computer Science</td>
                    <td>$120,000</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Socrates Itumay</td>
                    <td>Software Engineer</td>
                    <td>Computer Engineering</td>
                    <td>$150,000</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Reynante Labares</td>
                    <td>Product Manager</td>
                    <td>Business Management</td>
                    <td>$250,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
                        <ion-footer style="margin-right: -3px;">
              <div class="scrollmenu">
                <a href="#home" >All </a>
                <a href="#news" v-on:click="newsdata()">News</a>
                <a href="#contact"  v-on:click="newsdata()">Contact</a>
                <a href="#about" v-on:click="newsdata()"> About</a>
                <a href="#support">Support</a>
                <a href="#blog">Blog</a>
                <a href="#tools">Tools</a>
                <a href="#base">Base</a>
                <a href="#custom">Custom</a>
                <a href="#more">More</a>
                <a href="#logo">Logo</a>
                <a href="#friends">Friends</a>
                <a href="#partners">Partners</a>
                <a href="#people">People</a>
                <a href="#work">Work</a>
                <a href="#work">Work</a>
                <a href="#work">Work</a>
                <a href="#work">Work</a>
                <a href="#work">Work</a>
                <a href="#work">Work</a>
                <a href="#work">Work</a>
                <a href="#work">Work</a>
              </div>
</ion-footer>
        </ion-col>

        <ion-col size="4">
          <ion-content color="light">
            <!-- <ion-content -->
            <div class="example_container_2" id="example_container_2">
              <table
                border="0"
                margin-bottom:0pxs
                class="table mainfont"
              >
                <thead>
                  <!-- <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Price</th>
                  <th scope="col">Qnty</th>
                  <th scope="col">Total</th>
                  </tr>-->
                </thead>
                <tbody>
                  <tr v-for="(post, index) of theOrder" v-bind:key="post.key">
                    <td align="left">
                      <strong>{{post.name }}</strong>
                      <button
                        type="button"
                        class="btn btn-xsmall btn-outline-primary rounded-pill"
                        style="height:2%"
                        align="left"
                        v-on:click="removeFromCheck(index, post.cost)"
                      >X</button>
                    </td>
                    <!-- <td>${{convertPrice(post.cost)}}</td> -->
                    <td align="left">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button
                          type="button"
                          class="btn btn-xsmall btn-outline-info rounded-pill"
                          v-on:click="addqty(index, post.cost)"
                        >+</button>
                        <button
                          type="button"
                          class="btn btn-xsmall rounded-pill" disabled>{{post.quantity}}
                          </button>
                        <button
                          type="button"
                          class="btn btn-xsmall btn-outline-info rounded-pill"
                          v-on:click="subqty(index, post.cost)"
                        >-</button>
                      </div>
                    </td>
                    <td align="right">
                      <strong>${{convertPrice(post.total)}}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- </ion-content> -->



            <table
                rules=none
                border="0"
                margin-bottom:0pxs
                 class="table mainfont">
              <tr>
                <td align="left">
                  <strong>SUBTOTAL</strong>
                </td>
                <td align="right">
                  <strong>${{convertPrice(orderTotal)}}</strong>
                </td>
              </tr>
              <tr>
                <td align="left">
                  <strong>TAX</strong>
                </td>
                <td align="right">
                  <strong>${{getTax(orderTotal)}}</strong>
                </td>
              </tr>
              <tr>
                <td align="left">
                  <strong>TOTAL</strong>
                </td>
                <td align="right">
                  <strong>${{getTotal(orderTotal)}}</strong>
                </td>
              </tr>

              <!-- </tbody> -->
            </table>

            <!-- set up buttons to delete all -->
            <!-- <ion-button v-on:click="deleteAll">Reset</ion-button> -->
            <!-- <br /> -->
            <!-- <br /> -->
            <!-- <ion-footer> -->
            <!-- <ion-toolbar> -->
            <!-- <ion-grid> -->
            <ion-row>
              <ion-col>
                <button class="btn btn-brand-02 btn-block">Hold</button>
              </ion-col>
              <ion-col>
                <button class="btn btn-brand-02 btn-block" @click="presentAlertConfirm()">Place Order</button>
              </ion-col>
            </ion-row>
            <!-- <br /> -->

            <ion-row>
              <ion-col>
                <button class="btn btn-brand-02 btn-block" @click="billingPage()">Pay</button>
              </ion-col>
            </ion-row>

            <!-- </ion-grid> -->
            <!-- </ion-toolbar> -->
            <!-- </ion-footer> -->
          </ion-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



    <div class="col-xl-5 col-sm-4 col-lg-6 off-canvas off-canvas-overlay off-canvas-right">


      <div>
        <!-- <ion-button slot="end">Bill Details</ion-button> -->
        <ion-grid>
          <ion-row>
            <ion-col>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead></thead>
                    <tbody>
                      <tr v-for="(post, index) of theOrder" v-bind:key="post.key">
                        <th>Item</th>
                        <th>{{post.name }} </th>
                        <th>{{post.quantity}}</th
                      </tr>
                      <tr>
                        <th>SUBTOTAL</th>
                        <th align="right">${{convertPrice(orderTotal)}}</th>
                      </tr>
                      <tr>
                        <th>TAX</th>
                        <th align="right">${{getTax(orderTotal)}}</th>
                      </tr>
                      <tr>
                        <th>TOTAL</th>
                        <th align="right">${{getTotal(orderTotal)}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>


              </div>
            </ion-col>
          </ion-row>
          <br />

          <ion-row>
            <ion-col>
              <div>
                <ul id="keyboard">
                  <li class="letter">1</li>
                  <li class="letter">2</li>
                  <li class="letter">3</li>
                  <li class="letter clearl">4</li>
                  <li class="letter">5</li>
                  <li class="letter">6</li>

                  <li class="letter clearl">7</li>
                  <li class="letter">8</li>
                  <li class="letter">9</li>
                  <!-- <li class="letter">0</li> -->
                  <li class="letter clearl">0</li>
                  <!-- <li class="return">retur</li> -->
                  <li class="delete lastitem"></li>
                </ul>
              </div>
            </ion-col>

            <ion-col>
              <!-- <ion-card>
                <ion-card-header>
                  <ion-card-subtitle></ion-card-subtitle>
                  <ion-button>Cash</ion-button>
                </ion-card-header>
              </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle></ion-card-subtitle>
                  <ion-button>card</ion-button>
                </ion-card-header>
              </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle></ion-card-subtitle>
                  <ion-button>UPI ID</ion-button>
                </ion-card-header>
              </ion-card>-->
              <ion-row>
                <ion-col>
                  <button class="btn btn-brand-02 butcol">Debit/Credit</button>
                </ion-col>
              </ion-row>
              <br />

              <ion-row>
                <ion-col>
                  <button class="btn btn-brand-02 butcol">Cash</button>
                </ion-col>
              </ion-row>
              <br />

              <ion-row>
                <ion-col>
                  <button class="btn btn-brand-02 butcol">UPI</button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <!-- <ion-row> -->
          <ion-col>
            <ion-button>Print</ion-button>&nbsp;
            <ion-button>
              <a href="#" @click="closebillingPage()" class="close">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="64"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-x"
                >
                  <line x1="18" y1="6" x2="6" y2="18" />
                  <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
              </a>
            </ion-button>
          </ion-col>
          <!-- </ion-row> -->
        </ion-grid>
      </div>
    </div>

</div>

    
  </ion-content>
  
</template>


<style>
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  height: 60%;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 100%;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.my-custom-menu {
  --width: 500px;
}
</style>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'
import pos from '@/config/pos'
import { contacts, map } from 'ionicons/icons'
import { addIcons } from 'ionicons'
import Vue from 'vue'
import inventory from '../assets/dummy/inventory'
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
addIcons({
  'ios-contacts': contacts.ios,
  'md-contacts': contacts.md,
  'ios-map': map.ios,
  'md-map': map.md,
})

export default {
  name: 'POS',
  props: {
      redirect: {
      type: String,
      default: '/login',
    },
  },
  components: {
    SidebarMenu,
  },
  data() {

    return {
      // results: inventory,
      theOrder: [],
      orderTotal: 0,
      menu: [
        {
          href: '/Dashboard',
          title: 'Dashboard',
          icon: 'fa fa-user',
        },
        {
          href: '/products',
          title: 'Products',
          icon: 'fab fa-product-hunt',
        },
        {
          href: '/orders',
          title: 'Orders',
          icon: 'far fa-clipboard',
        },
        {
          href: '/customers',
          title: 'Customers',
          icon: 'fas fa-users',
        },
        {
          href: '/settings',
          title: 'Settings',
          icon: 'fas fa-cog',
        },
        {
          href: '/transactions',
          title: 'Transactions',
          icon: 'fas fa-money-check-alt',
        },
      ],
      collapsed: true,
      width: '0px',
    }
  },

  methods: {
    ...mapActions('auth', ['logout']),
    ...mapActions('pos', ['items']),
    logoutAttempt () {
      this.logout().then(() => {
        this.$router.push({ path: '/login' })
      })
    },
    itemsdisplay () {
      this.items().then(() => {
        console.log("iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii")
      })
    },
    myFunction() {
      alert("THANK YOU! YOUR ORDER HAS BEEN PLACED");
    },
        billingPage() {
      var tabcontent = document.getElementsByClassName("off-canvas");
      tabcontent[0].classList.add("show");
    },
    closebillingPage() {
      var tabcontent = document.getElementsByClassName("show");
      tabcontent[0].classList.remove("show");
    },
    TablemanagePage() {
      this.$router.push("POS/table");
    },

    KitchenPage() {
      this.$router.push("POS/kitchen");
    },
        ProductsPage() {
      this.$router.push("/products");
    },
    SettingsPage() {
      this.$router.push("/settings");
    },
    CustomersPage() {
      this.$router.push("/customers");
    },
    TransactionsPage() {
      this.$router.push("/transactions");
    },
    OrdersPage() {
      this.$router.push("/orders");
    },
    get_items() {
    },
    newsdata() {
      console.log(this.results),
        (this.results = [
          {
            title: "the very first post",
            abstract: "lorem ipsum some test dimpsum"
          }
        ]);
    },
        presentAlertConfirm() {
      return this.$ionic.alertController
        .create({
          header: 'THANK YOU!',
          message: '<strong>Your Order has been placed.</strong>!!!',
          buttons: [
            {
              text: 'Cancel',
              role: 'cancel',
              cssClass: 'secondary',
              handler: blah => {
                console.log('Confirm Cancel:', blah)
              },
            },
            {
              text: 'Okay',
              handler: () => {
                console.log('Confirm Okay')
              },
            },
          ],
        })
        .then(a => a.present())
    },

        paymentAlertConfirm() {
      return this.$ionic.alertController
        .create({
          header: 'THANK YOU!',
          message: '<strong>Your Order has been placed.</strong>!!!',
          buttons: [
            {
              text: 'Cancel',
              role: 'cancel',
              cssClass: 'secondary',
              handler: blah => {
                console.log('Confirm Cancel:', blah)
              },
            },
            {
              text: 'Okay',
              handler: () => {
                console.log('Confirm Okay')
              },
            },
          ],
        })
        .then(a => a.present())
    },
        getImage: function(x) {
      var strT = "./assets/dummy/" + x;
      return x;
    },

    // functions to compute amountssssss
    // convert price in cents to dollars
    convertPrice: function(x) {
      var price = (x / 100).toFixed(2);
      return price;
    },
        //compute tax at 8%
    getTax: function(x) {
      var tax = (x * 0.0008).toFixed(2);
      return tax;
    },
    //add up tax and total.  In this case, easier to just compute from 1 variable rather than adding other function results
    getTotal: function(x) {
      var total = ((x + x * 0.08) / 100).toFixed(2);
      return total;
    },
        //functions to set items on check
    //push new items onto order
    addToCheck(post) {
      const index = this.theOrder.findIndex(item => {
        return item.key === post.key;
        
      });
      console.log(index);
      console.log(post.item_name)
      

      if (index > -1) {

        
        this.theOrder[index].quantity += 1;
        this.theOrder[index].total = this.theOrder[index].quantity * post.cost;
        // console.log(this.theOrder[index].quantity)
      } else {
        var neworder = {
          name: post.item_name,
          key: post.key,
          cost: post.cost, // in cents,
          quantity: 1,
          total: post.cost * 1
        };
        this.theOrder.push(neworder);
        console.log("9595955959595595959595959595959595959")
        console.log(neworder)

      }
      this.orderTotal = this.orderTotal + post.cost; //this references for variables defined in data
      //   this.theOrder=this.theOrder+post
      //   this.theOrder.push(post);
    },
        //splice out removed item
    removeFromCheck: function(index, price) {
      this.theOrder.splice(index, 1);

      this.orderTotal = this.orderTotal - price;
    },

    //reset array to empty and total to 0
    deleteAll: function() {
      this.theOrder = [];
      this.orderTotal = 0;
    },
        subqty: function(index, price) {
      this.theOrder[index].quantity -= 1;
      this.theOrder[index].total = this.theOrder[index].quantity * price;
      this.orderTotal = this.orderTotal - price;
      if (this.theOrder[index].quantity === 0) {
        this.theOrder.splice(index, 1);
      }
    },

    addqty: function(index, price) {
      // this.theOrder.splice(index, 1)
      this.theOrder[index].quantity += 1;
      this.theOrder[index].total = this.theOrder[index].quantity * price;
      this.orderTotal = this.orderTotal + price;
      console.log("]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]][[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[")
      // console.log(index)
    }
},
    getItem () {
    const item = this.itemInfo
    this.items = item[this.itemsFieldName]
    console.log(this.items)
    // const customFields = auth.customFields || []
    // this.customFields = customFields.map((field) => {
    //   let rField = field
    //   rField.value = user[field.name]
    //   rField.label = this.$t(`global.profile.user.${field.name}`)
    //   return rField
    // })
  },
  
  computed: {
    ...mapState('pos', ['item','cat']),
    ...mapGetters('pos', [
      'itemInfo',
      'categoryInfo'
    ]),
    processedPosts() {
      let posts = this.itemInfo;
      console.log('6666666666666666666666666666666666666666666666666666')
      console.log(this.items)
      // Put Array into Chunks
      let i,
        j,
        chunkedArray = [],
        chunk = 4;
      for (i = 0, j = 0; i < posts.length; i += chunk, j++) {
        chunkedArray[j] = posts.slice(i, i + chunk);
      }
      return chunkedArray;
    }
  }
}
</script>
