<template>
  
    <ion-content class="mainfont">

     <div>
              <sidebar-menu :menu="menu"  :collapsed="true"/>
    </div>
<div style="margin-left: 66px;">
        <h1> Products page </h1>


        <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Job Title</th>
      <th scope="col">Degree</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Adrian Monino</td>
      <td>Front-End Engineer</td>
      <td>Computer Science</td>
      <td>$120,000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Socrates Itumay</td>
      <td>Software Engineer</td>
      <td>Computer Engineering</td>
      <td>$150,000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Reynante Labares</td>
      <td>Product Manager</td>
      <td>Business Management</td>
      <td>$250,000</td>
    </tr>
  </tbody>
</table>
 </div>
    </ion-content>
 
</template>

<script>
import { contacts, map } from "ionicons/icons";
import { addIcons } from "ionicons";
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
addIcons({
  "ios-contacts": contacts.ios,
  "md-contacts": contacts.md,
  "ios-map": map.ios,
  "md-map": map.md
});
export default {
  name: "Products",
  props: {},
    components: {
    SidebarMenu
  },
  data() {
    return {
      menu: [
        {
            href: '/Dashboard',
            title: 'Dashboard',
            icon: 'fa fa-user'
        },
        {
            href: '/products',
            title: 'Products',
            icon: 'fab fa-product-hunt'
        },
        {
            href: '/orders',
            title: 'Orders',
            icon: 'far fa-clipboard'
        },
        {
            href: '/customers',
            title: 'Customers',
            icon: 'fas fa-users'
        },
        {
            href: '/settings',
            title: 'Settings',
            icon: 'fas fa-cog'
        },
        {
            href: '/transactions',
            title: 'Transactions',
            icon: 'fas fa-money-check-alt'
        },
    ],
    collapsed:true,
    width:'0px',
    };


  },
};
</script>