<template>
  
    <ion-content class="mainfont">
              <div>
              <sidebar-menu :menu="menu"  :collapsed="true"/>
        </div>
<div style="margin-left: 66px;">
        <h1> Settings page </h1>
</div>

    </ion-content>
  
</template>

<script>
import { contacts, map } from "ionicons/icons";
import { addIcons } from "ionicons";
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
addIcons({
  "ios-contacts": contacts.ios,
  "md-contacts": contacts.md,
  "ios-map": map.ios,
  "md-map": map.md
});
export default {
  name: "Settings",
  props: {},
  components: {
    SidebarMenu
  },
  data() {
    return {
      menu: [
        {
            href: '/Dashboard',
            title: 'Dashboard',
            icon: 'fa fa-user'
        },
        {
            href: '/products',
            title: 'Products',
            icon: 'fab fa-product-hunt'
        },
        {
            href: '/orders',
            title: 'Orders',
            icon: 'far fa-clipboard'
        },
        {
            href: '/customers',
            title: 'Customers',
            icon: 'fas fa-users'
        },
        {
            href: '/settings',
            title: 'Settings',
            icon: 'fas fa-cog'
        },
        {
            href: '/transactions',
            title: 'Transactions',
            icon: 'fas fa-money-check-alt'
        },
    ],
    collapsed:true,
    width:'0px',
    };


  },
};
</script>